body{
background-color:rgb(239, 239, 239);
}
.h1Home{
    color:white;
}
.classH3{
    font-weight: 600;
    margin: 4px;
    font-size: 17px;
    color: rgb(53, 50, 50);
}
.classDivButton{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 110px;
    transition: all .5s;
}
.classDivButton,.classButton2:hover{
    font-size: 17.3px;
    color:rgb(12, 213, 213);
}
.classDivButton,.classButton1:hover{
    color:rgb(12, 213, 213);
    font-size: 17.3px;
}
.classBtnPage{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    width: 500px;
    height: 70px;
    position: relative;
    left: 630px;
}
.classButton1{
    position: relative;
    left: 7px;
    border: 0px solid transparent;
    margin: 10px;
    padding-right: 8px;
    padding-left: 25px;
    font-size: 17px;
    font-weight: 500;
    transition: color .2s, font-size .3s;
}
.classButton2{
    position: relative;
    left: 5px;
    border: 0px solid transparent;
    margin: 10px;
    padding-left: 7px;
    padding-right: 22px;
    font-size: 17px;
    font-weight: 500;
    transition: color .2s, font-size .3s, ;
}
.classFlechaBtn1{
    position: relative;
    right: 95px;
    color: transparent;
    border-top: 2px solid rgb(10, 180, 180);
    border-right: 0px solid transparent;
    border-left: 2px solid rgb(0, 241, 241);
    border-bottom: 0px solid transparent;
    height: 14px;
    width: 14px;
    transform: rotate(315deg);
    transition: all 0.4s;
}
.classFlechaBtn2{
    position: relative;
    right: 25px;
    color: transparent;
    width: 15px;
    border-top: 2px solid rgb(0, 241, 241);
    border-right: 2px solid rgb(10, 180, 180);
    border-left: 0px solid transparent;
    border-bottom: 0px solid transparent;
    height: 14px;
    transform: rotate(45deg);
    transition: all 0.4s;
}

/*////////////////////////////*/

@media screen and (min-width: 320px){
    .classBtnPage{
        margin-top: 10px;
        width: 99%;
        height: 50px;
        left: 0px;
        top: 0px;
    }
    .classH3{
        font-size: 12px;
    }
    .classButton1{
        font-size: 12px;
    }
    .classButton2{
        font-size: 12px;
    }
    .classDivButton,.classButton2:hover{
        font-size: 13px;
    }
    .classDivButton,.classButton1:hover{
        font-size: 13px;
    }
    .classFlechaBtn1{
        right: 78px;
        height: 12px;
        width: 12px;
        background: transparent;
    }
    .classFlechaBtn2{
        width: 12px;
        height: 12px;
        background: transparent;
    }
}
@media screen and (min-width: 768px) {
    .classBtnPage{
        top: 360px;
    }
        .classH3{
            font-size: 14px;
        }
        .classDivButton,.classButton2:hover{
            font-size: 15px;
        }
        .classDivButton,.classButton1:hover{
            font-size: 15px;
        }
        .classButton1{
            font-size: 14px;
        }
        .classButton2{
            font-size: 14px;
        }
        .classFlechaBtn1{
            right: 87px;
            height: 14px;
            width: 14px;
        }
        .classFlechaBtn2{
            width: 15px;
            height: 14px;
        }
}
@media screen and (min-width: 1024px) {
    .classBtnPage{
        width: 100%;
        top:10px;
        left: 0px;
    }
}
@media screen and (min-width: 1366px) {
    .classBtnPage{
        margin-top: 30px;
        width: 50%;
        height: 70px;
        left: 500px;
    }
    .classButton1{
        font-size: 15px;
    }
    .classButton2{
        font-size: 15px;
    }
    
    .classDivButton,.classButton2:hover{
        font-size: 16px;
    }
    .classDivButton,.classButton1:hover{
        font-size: 16px;
    }
}
@media screen and (min-width: 1536px){
        .classH3{
            font-size: 17px;
        }
        .classDivButton,.classButton2:hover{
            font-size: 17.3px;
        }
        .classDivButton,.classButton1:hover{
            font-size: 17.3px;
        }
        .classBtnPage{
            margin-top: 100px;
            width: 500px;
            left: 665px;
        }
        .classButton1{
            font-size: 17px;
        }
        .classButton2{
            font-size: 17px;
        }
        .classFlechaBtn1{
            right: 95px;
        }
}