.classDivOne{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    width: 99%;
    height: 600px;
}
.classDivContent{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 19px;
    background-color: rgb(159, 229, 252);
    border: 1px solid black;
    border-top:0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 10px 10px 10px 10px;
    width: 410px;
    height: 290px;
}
.classSwitTrue{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: relative;
    bottom: 10px;
    background-color: rgb(159, 229, 252);
    border: 1px solid black ;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 80px;
    height: 40px;
    right: 1px;
}
.classSwitchFalse{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background-color: white;
    position: relative;
    bottom: 10px;
    background-color: white;
    border-top: 1px solid black;
    border-left:1px solid black;
    border-right: 0px solid transparent;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
    width: 70px;
    height: 40px;
    right: 1px;
}
.classDivSwitch{
    display: flex;
    justify-content: flex-start;
    border-top: 1px solid black;
    border-right:1px solid black ;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    background-color: white;
    width: 430px;
    height: 42px;
    position: static;
}

/*////////////////////*/


@media screen and (min-width: 320px){
.classDivContent{
    bottom: 19px;
    width: 290px;
    height: 290px;
}
.classDivSwitch{
    width: 309px;
}
.classDivOne{
    position: relative;
    bottom: 50px;
}
}
@media screen and (min-width: 768px){
    .classDivContent{
        width: 410px;
        height: 290px;
    }
    .classDivSwitch{
        width: 429px;
        height: 42px;
    }
}
