.classDivCardsFavorite{
    position: relative;
    top: 250px;
    right: 100px;
}
/*/////////////////////////*/



@media screen and (min-width: 768px) {
    .classDivCardsFavorite{
        position: relative;
        top: 250px;
        right: -10px;
    }
}
@media screen and (min-width: 1024px) {
    .classDivCardsFavorite{
        position: relative;
        top: 290px;
        right: 0px;
    }
}
@media screen and (min-width: 1366px){
    .classDivCardsFavorite{
        position: relative;
        top: 280px;
        right:80px;
    }
}
@media screen and (min-width: 1536px) {
.classDivCardsFavorite{
    position: relative;
    top: 250px;
    right: 130px;
}
}