.classDivNotFound{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.classh1NotFount{
    font-size: 300%;
    padding: 5%;
}
.classLinkHome{
    font-weight: 500;
    border: 1px solid black;
    border-radius: 20px;
    background-color:black ;
    color: rgb(113, 232, 232);
    padding: 0.45%;
    font-size: 105%;
    text-decoration: none;
    transition:  all .5s;
}
.classLinkHome:hover{
    color: black;
    background-color:rgb(113, 232, 232);
    padding: 0.55%;
    font-size: 115%;
}

/*//////////////////////*/


@media screen and (min-width: 320px){
    .classh1NotFount{
        font-size: 250%;
        padding: 30% 5% 30% 5%;
    } 
    .classLinkHome{
        padding: 1%;
        font-size: 100%;
    }
    .classLinkHome:hover{
        font-size: 110%;
    }
}
@media screen and (min-width: 768px){
    .classh1NotFount{
        font-size: 250%;
        padding: 10% 5% 10% 5%;
    } 
    .classLinkHome{
        padding: 1%;
        font-size: 100%;
    }
    .classLinkHome:hover{
        font-size: 110%;
    }
}
@media screen and (min-width: 1024px){
.classLinkHome{
    padding: 0.55%;
    font-size: 110%;
}
.classLinkHome:hover{
    font-size: 115%;
}
}